<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/posts">Posts</a>
        <a href="/albums">Albums</a>
        <a href="/todos">Todos</a>
        <a href="/comments">Comments</a>
        <a href="/photos">Photos</a>
    </nav>
    <h1>List of Albums</h1>
    <hr>
    {% for album in albums %}
    <h3>{{ album.userId }}</h3>
    <h3>{{ album.title }}</h3>
    <h5>{{ album.id }}</h5>
    <hr>
    {% endfor %}

    <footer>written by me and for my people</footer>
</body>
</html>