<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/posts">Posts</a>
        <a href="/albums">Albums</a>
        <a href="/todos">Todos</a>
        <a href="/comments">Comments</a>
        <a href="/photos">Photos</a>
    </nav>
    <h1>Flask App</h1>
    <hr>

    <h2>Hello Everyone</h2>
    <p>Some examples of fetching Datas from apis</p>

    <footer>written by me and for my people</footer>
</body>
</html>